.about-me {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    align-items: center;
}

.about-me img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.about-me p {
    font-size: 1.2rem;
    text-align: justify;
    justify-content: center;
}

@media screen and (max-width: 740px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-me img {
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}