.footer {
    width: 100%;
    height: 150px;
    background-color: #8d9db6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
}

.icons {
    display: flex;
    color: black;
    font-size: medium;
    cursor: pointer;
}

.footer p {
    color: black;
    font-size: 20px;
}
